@charset 'utf-8';
*{
			margin:0;
			padding:0;
		}
		body{
			width:100%;
			font-family:'微软雅黑','宋体',sans-serif;
			background: #bfe3f9;
		}
		.header{
			width:100%;
			height:66px;
			background: #e65b61;
		}
		.header-cont{
			width:900px;
			height:66px;
			margin:0 auto;
			line-height: 66px;
			font-size:24px;
			color:#fff;
		}
		.header-cont .logo{
			float:left;
			width:46px;
			height:46px;
			margin-top:10px;
			margin-left: 20px;
			border-radius: 5px;
		}
		.header-cont .nav{
			float:left;
			margin-left:266px;
		}
		.header-cont .nav li{
			display:inline-block;
			height:66px;
			margin-right:30px;
		}
		
		.header-cont .nav li a{
			height:60px;
			text-decoration: none;
			color:#fff;
		}
		.header-cont .nav li a.active{
			border-bottom:3px solid #fff;
		}
		.header-cont .nav li:hover a{
			border-bottom:3px solid #fff;
		}
		.footer{
			height:40px;
			width:100%;
			background: #e65b61;
			font-size:16px;
			color:#fff;
			text-align:center;
			line-height: 40px;
		}
		.footer .tongji{
			color:#fff;
			text-decoration: none;
		}
		.clearfix:after{
			content:'.'; 
			display:block;
			height:0;
			clear:both;
			visibility:hidden 
		}
		.clearfix{
			zoom:1;
		}