body{
	min-width: 1400px;
}
.banner{ 
	width:100%; 
	height:750px; 
	margin-bottom:60px; 
	overflow:hidden; 
	position:relative;
	font-size:0
}
.b-img{
	height:500px;  
	position:absolute; 
	left:0; 
	top:0;
}
.b-img .img-list{
	position:relative;
	display:block; 
	height:750px; 
	float:left;
}
.bar-left{ 
	position:absolute; 
	z-index:1; 
	display:block; 
	width:100px; 
	height:100%; 
	left:0px; 
	background:none; 
	top:0px; 
}
.bar-right{ 
	position:absolute;
	z-index:1; 
	display:block; 
	width:100px; 
	height:100%; 
	right:0px; 
	background:none; 
	top:0px; 
}
.bar-left em{ 
	display:block; 
	width:50px; 
	height:100px; 
	background:url(../images/arrow.png) 0px 0px no-repeat; 
	margin:0 auto; 
	margin-top:325px;
}
.bar-right em{ 
	display:block; 
	width:50px; 
	height:100px; 
	background:url(../images/arrow.png) -50px 0px no-repeat; 
	margin:0 auto; 
	margin-top:325px;
}
.bar-left .emcss{ 
	background-position:0px -100px;
}
.bar-right .emcss{ 
	background-position:-50px -100px;
}
.banner .b-img .img-list .text{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height:120px;
	// background: #000; 
	// opacity: 0.6; 
	// filter:alpha(opacity=60);
	background: rgba(0,0,0,.6);
	color:#fff;
	font-size:38px;
	line-height: 120px;
	text-align: center;
	font-weight: 200;
}
.banner .text a{
	display:block;
	width:100%;
	height:120px;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
.banner .text:hover a{
	color:#ff8c69;
}
.cont-box{
	width:1200px;
	margin:0 auto;
	margin-bottom:50px;
}
.cont-box h2{
	margin-bottom:50px;
	height:40px;
	font-size:24px;
	color:#777;
	border-bottom:2px solid #ddd;
	font-weight: normal;
}
.cont-box .host{
	margin-right:-50px;
	margin-bottom:50px;
}
.cont-box .host .host-box{
	float:left;
	margin-right:50px;
	width:260px;
	height:200px;
	border:1px solid #ddd;
}
.cont-box .host .host-box:hover{
	border:1px solid #ff8c69;
}
.cont-box .host .host-box:hover>a{
	color: #ff8c69;
}
.cont-box .host .host-box>a{
	display:block;
	line-height: 200px;
	text-align: center;
	font-size:130px;
	color:#999;
	text-decoration:none;
	cursor:pointer;
}
.article-cont ul{
	margin-right:-100px;
	list-style: none;
}
.article-cont ul li{
	float:left;
	width:575px;
	height:510px;
	margin-right:50px;
	margin-bottom:70px;
	list-style: none;
}
.article-cont ul li .img-box{
	margin-bottom:30px;
	width:100%;
	height:400px;
	overflow: hidden;
}
.article-cont ul li .img-box img{
	width:100%;
	height:100%;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
}
.article-cont ul li .img-box:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.article-cont ul li a{
	display:block;
	margin-bottom:10px;
	font-size:24px;
	font-weight:bold;
	color:#333;
	line-height: 50px;
	text-decoration: none;
	cursor:pointer;
	border-bottom:1px solid #ddd;
}
.article-cont ul li a span{
	font-size:16px;
	color:#666;
}
.article-cont ul li a:hover{
	color:#ff8c69;
}
.article-cont ul li p{
	font-size:16px;
	color:#666;
	line-height: 24px;
	text-align: justify;
}
.nav li .author-list{
	position:absolute;
	width:120px;
	background: #fff;
	z-index: 2;
}
.nav li .author-list{
	text-align: center;
	color:teal;
}