
*{
	margin:0;
	padding:0;
}
.noselect {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Chrome/Safari/Opera */
-khtml-user-select: none; /* Konqueror */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
not supported by any browser */
}
body{
	width:100%;
	min-width: 1200px;
	font-family:'微软雅黑','宋体',sans-serif;
	background: #fff;
}
.clearfix:after{
	content:'.'; 
	display:block;
	height:0;
	clear:both;
	visibility:hidden 
}
.clearfix{
	zoom:1;
}
a:active{ 
    background-color: transparent !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
a:focus{outline:none;}
