*{
	margin:0;
	padding:0;
}
body{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.clearfix:after{
	content:'.'; 
	display:block;
	height:0;
	clear:both;
	visibility:hidden 
}
.clearfix{
	zoom:1;
}
.header{
	height:60px;
	width:100%;
	overflow: hidden;
	/*margin-right:100px;*/
	margin-bottom:10px;
	border-bottom:1px solid #eee;
}
.header>.logo{
	float:left;
	width:60px;
	height:60px;
	border:none;
}
.header .website{
	float:left;
	height:60px;
	line-height: 60px;
	font-size:20px;
	color:#999;
	text-align: center;
	text-indent: 8px;
}
.header .btn {
	float:right;
	margin-right:15px;
	margin-top:15px;
	vertical-align: middle;
}
.part h2{
	margin:0 15px 10px 15px;
	margin-top:0;
	color:#666;
	font-size:20px;
	line-height: 50px;
	border-bottom:1px solid #ddd;
}
.part .msg{
	margin:5px 15px;
	font-size:18px;
	color:#999
}
.erweima{
	margin:30px auto;
}
.erweima .img-box{
	width:200px;
	height:200px;
	margin:0 auto;
	border:1px solid #ff8963;
}
.erweima .tip{
	font-size:16px;
	color:#999;
	text-align: center;
}
.erweima .img-box img{
	width:100%;
}
.copy{
	margin-bottom:10px;
	color:#333;
	font-size:16px;
	text-align: center;
}
@media screen and (max-width:320px){
	.part .msg{
		font-size:16px;
	}
}
@media screen and (min-width:768px){
	.header{
		padding:0 60px;
	}
	h2{
		margin:20px 76px;
	}
	.part{
		padding:0 76px;
	}
}